.form-wrap {
    input.hidden {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}

.wpcf7-mail-sent-ok {
    border: none !important;
    font-size: 18px !important;
}

span.wpcf7-not-valid-tip {
    color: #000 !important;
  opacity: .5 !important;
  font-size: 17px !important;
  padding-top: 10px;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: none !important;
  opacity: .7 !important;
}
